@media (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }
    .header {
        padding: 2rem;
        margin: 0;
    }
    #navbar {
        margin: 0;
        padding: 0;
    }
    .icons {
        display: block;
        font-size: 3.5rem !important;
        font-weight: lighter;
    }
    .logo {
        justify-content: flex-start;
        padding-top: 10px !important;
    }
    .logo img {
        width: 350px;
        padding-left: 100px !important;
        margin: 0;
    }
    ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 17.7;
        background: #f2f7f8;
        backdrop-filter: blur(50px);
    }
    ul {
        display: none;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        

    }
    .auth-buttons {
        display: block !important;
        
    }
    ul .fa {
        display: none;
        
 }
 .main {
    display: block;
    margin-top: 360px;
    text-align: center;
    justify-content: center;
 } 
 .icon {
   display: flex;
   align-items: center;
   font-size: 3.5em;
   width: 100%;
   white-space: nowrap;
   margin: 30px;
 }
 .icon p {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 0.7em;
 }
 .icon i {
    font-size: 60px;
 }
 .span1 {
    font-size: 6.5rem;
    white-space: nowrap;
    display: block;
    text-align: center;
    width: 100%;
    margin-left: 80px !important;
    
 }
  .invest h1 {
    width: 100%;
    padding: 0 18px;
    margin: 0;
    
  }
  .invest p {
    font-size: 2.3rem;
    width: 140%;
    line-height: 1.8;
  }
  .span3 {
    margin-left: 150px;
  }
  .span4 {
    margin-left: 30px;
  }
  .span7 {
    font-size: 6.5rem;
    white-space: nowrap;
  }
  .img2 {
    width: 100%;
    text-align: center;
    gap: 50px;
  }
  .img2 .immg {
    width: 100%;
    height: 50px;
    align-content: center;
    padding: 20px;
  }
  .immg a {
    font-size: 2rem;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  img {
    margin-top: 50px;
  }
  .immg i {
    font-size: 40px !important;
  }
}
