@media (max-width: 600px) {
    body {
       margin: 0; 
        
    }
    .logo {
        margin: 0px auto;
        padding: 10px 10px;
        justify-content: space-between;
        max-width: 100%;
        
    }
    .header {
        height: auto;
      background-color:  #f2f7f8;
      justify-content: space-between;
    
    }
    .icons {
        display: block;
        position: relative;
        left: 80px;
        font-size: 20px;
        padding: 12px;
    }
    .logo img {
        width: 120px;
        height: auto;
    }
    ul {
        display: none;
        height: auto;
        max-width: 100%;
    }
    ul li {
        font-size: 40px;
    }
    ul li a {
        font-size: 30px;
    }
    .auth-buttons {
        max-width: 100%;
        display: flex;
        flex-direction: column !important;
        position: relative;
        left: 0 !important;
    }
    ul .fa {
        display: none;
    }
    .main {
        display: block;
        padding: 0;
        max-width: 100%;
    }
    .icon {
        margin-left: 0;
        max-width: 100%;
        margin: 0px;
        width: 99%;
    }
    .icon p {
        font-size: 4.3vw;
        justify-content: center;
        margin: 10px;
        max-width: 100%;
        white-space: nowrap;
    }
    .invest {
        max-width: 100%;
    }
    .invest h1{
        font-size: 12vw !important;
        max-width: 100%;
        margin: 30px;
        text-align: center;
        margin-left: 0;
        
    }
    .span1 {
        margin-left: 0 !important;
        
    }
    .invest p {
        margin-left: 0;
        margin: 0px;
        font-size: 4.9vw;
        max-width: 100%;
        text-align: center;
        line-height: 1.8;
    }
    .img2 {
        margin-left: 0;
        height: auto;
        max-width: 100%;
        gap: 5px;
        margin: 5px;
    }
    .img {
        max-width: 100%;
        width: 85%;
        
    }
    .immg {
        display: block;
        width: 100%;
        margin-top: -30px;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
    }
    .immg i {
        font-size: 20px;
        position: relative;
        right: 0;
    }
   
    .immg a {
        font-size: 18px;
        width: auto;
        white-space: nowrap;
        font-weight: lighter;
    }
    .img img {
        margin-left: -30px !important;
        margin: 0px;
        display: block;
        max-width: 100%;
        width: 100% !important;
        height: auto;
        margin-top: 40px;
       
    }
    .key {
     display: block;
     margin-top: 50px;
    }
    .key1 img {
        display: block;
        width: auto;
    }
   
    .del {
        max-width: 100%;
        padding-right: 0;
        margin-top: 40px;

    }
    .del h1 {
     font-size: 30px;
     text-align: center;
        
    }
    .del p {
        text-align: center;
        font-size: 16px;
    }
    .del a {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        position: relative;
        left: 50px;
    }
    .ways {
        max-width: 100%;
        }
    .ways h1 {
        font-size: 28px;
        }
    .ways p {
        font-size: 17px;
        text-align: center;
        line-height: 1.7;
    }
    .block-section {
       display: block;
       max-width: 100%;
    }
    .block {
        margin-top: 25px;
        width: 90%;
        margin: 5px;
        height: auto; 
        position: relative;
        left: -20px;
        margin-top: 30px;
        }
        .block h1 {
            margin-top: 30px !important;
        }
    .block h1 {
      font-size: 30px;
      text-align: center;
      margin: 0;
    }
    .block p {
        font-size: 16px;
        text-align: center;
        width: auto;
    }
    .buttom {
        display: flex;
        gap: 18px;
        margin-top: 40px;
    }
    .buttom a {
        font-size: 15px;
        position: relative;
        bottom: 10px;
    }
    .buttom img {
        width: 70%;
        height: auto;
        margin-left: 100px;
        position: relative;
        bottom: -40px;
        right: 80px;
    }
    .block:nth-of-type(3) img {
        width: 60%;
        height: auto;
        position: relative;
        right: 90px;
    }
     .block:nth-of-type(5) img {
        width: 70%;
        height: auto;
        position: relative;
    }
     .block:nth-of-type(6) img {
        width: 60%;
        height: auto;
        position: relative;
        right: 80px;
    }
    .diverse-section {
        background-color: white;
        max-width: 100%;
        width: 90%;
        padding: 20px;
        padding-bottom: 50px;
    }
    .diverse {
      display: block;
      width: auto;
      margin: 0;
      margin-top: 0;
      line-height: 0.9;
      position: relative;
      left: -20px;
    }
    .diverse h1 {
        font-size: 30px;
        word-spacing: 0;
        margin-top: auto;
        width: 100%;
        margin-left: 15px;
        
    }
    .diverse p {
        font-size: 18px;
        margin: 25px;
        line-height: 1.4;
        width: 100%;
    }
    .diver2 {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin: 10px;
        padding: 10px;
        height: auto !important;
        margin-top: 0;
        background-color: #6404caec;
        position: relative;
        left: -20px;
    }
    .div {
        display: block;
        padding: 10px;
    }
    .div h1 {
        margin-top: 70px !important;
        font-size: 35px;
        text-align: center;
        margin-left: 0;
    }
    .div p {
        position: relative;
        top: -20px;
        font-size: 19px;
        text-align: center;
    }
    .div a {
        top: 0;
        font-weight: bold;
    }
    .div-img {
        position: relative;
        top: 9px;
        right: 80px;
    }
    .div-img img  {
        width: 90%;
        height: auto;
        justify-content: center;
    }
    .month {
        max-width: 100%;
         display: block;
         background:  #f2f7f8;
        padding: 0;
        margin: 10px;
        padding-top: 50px;
    }
    .monthly {
        display: block;
    }
    .meet h1 {
        margin-bottom: 30px;
        line-height: 1;
        font-size: 34px;
        width: 100%;
    }
    .meet p {
        max-width: 100%;
        font-size: 19px;
    }
    iframe {
        margin-top: 30px;
        max-width: 95%;
        
    }
    .promo-section {
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
         background-color: #f2f7f8;
    }
    .avatars {
        display: none;
    }
    .promo-content {
        max-width: 100%;
        width: 100%;
    }
    .promo-content h1 {
        max-width: 100%;
        text-align: center;
        width: 95%;
        font-size: 36px;
        margin-left: 10px;
        
        
    }
    .app-buttons {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 30px;
    }
    .app-buttons a {
        margin-right: 0;
    }
    .app-buttons a:not(:first-child) {
    margin-left: 0px;
    margin-top: -30px;
}
.testimonial-card img {
    max-width: 95%;
    margin-left: 13px;
    }
    .company {
        max-width: 100%;
    }
    .comp h1 {
        font-size: 35px;
    }
    .comp-img img  {
        width: 70%;
        margin-left: 60px;
        margin-top: 10px;
    }
.footer {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        background-color: white;
    }
    .footer-logo {
        display: block;
        position: relative;
        left: -90px;
        bottom: 30px;
        margin-top: 0 !important;
    }
    .footer-logo img {
        width: 200px;
    }
    .footer-link {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        justify-items: start;
    }
    .footer-link h4 {
        margin-right: 20px;
        text-align: left;
        width: 50%;
        position: relative;
        left: -40px;
        font-weight: bolder;
    }
    .footer-link li {
        margin-left: -20px;
    }
    .footer-head:last-of-type h4 {
        margin-left: 30px;
    }
    .media {
        margin-top: 10px !important;
        max-width: 100%;
        position: relative;
        right: 0;
        margin: 17px;
    }
    .address p {
        margin-right: 0;
        margin: 17px;
        text-align: left !important;
        line-height: 1.4;
    }
    .victoria {
        margin-left: 0;
    }
    .address a {
        margin-left: 0;
        margin: 17px;
    }
    .number {
        position: relative;
        left: 0;
        opacity: 0.6;
    }
    .last {
        max-width: 100%;
    }
    .last1 {
        max-width: 100%;
        margin-left: 0;
        margin: 10px;
        padding: 0;
    }
    .last1 p {
        max-width: 100%;
        font-size: 11px;
    }

}