body {
    padding: 0;
    margin: 0;
    font-family: Jakarta, sans-serif;
    background: #f2f7f8;
    color: #3d4f60;
    font-size: 16px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
}
.logo {
    display: flex;
    justify-content: space-evenly;
    
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    margin: 10px;
}
a {
    text-decoration: none;
    color: #3d4f60;
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
    transition: 3s ease-in-out;

}
a:hover {
    color: #0c1825;
}
img {
    margin-left: 100px;
}
.fa {
    margin-left: -5px;
    font-size: 18px;
    color: #3d4f60;
}
.auth-buttons {
    text-align: center;
    justify-content: center;
    margin: auto;
    gap: 10px;
    margin-right: 60px;
}
.btn1 {
    padding: 10px;
    font-size: 17px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid;
    color: #0c1825;
    transition: 2s ease-in-out;
}
.btn2 {
    background-color: #0c1825;
    color: #fff;
    padding: 15px;
    border: none;
    font-size: 17px;
    border-radius: 8px;
    font-weight: 500;
    transition: 2s ease-in-out;
    cursor: pointer;
}
.btn1:hover {
    background-color: blue;
    color: white;
}
.btn2:hover {
    background-color: blue;
}
.main {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding: 20px;
    text-align: center;
}
.icon {
    display: flex;
    color: white;
    width: 400px;
    margin-left: 60px;
    font-size: 18px;
    height: auto;
   
    padding: 2px;
    font-weight: 500;
}
.icon p {
    background-color: #0e86f7;
     border-radius: 80px;
     font-weight: 700;
     cursor: pointer;
     transition: 3s ease-in-out;
}
.icon p:hover {
    background-color: blue;
}
.icon i {
    margin: 10px;
}
.icon i:nth-child(1) {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 50%;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.invest h1 {
    text-align: center;
    color: #0c1825;
    font-size: 49px;
    width: 450px;
    margin-left: 50px;
    margin-top: 10px;
    font-weight: 700;
}
.invest p {
    width: 500px;
    font-size: 26px;
    margin-left: 50px;
    
}
.img2 {
    display: flex;
  padding: 0;
  margin: 0;
  gap: 0;
  margin-left: 50px;
}
.img2 img {
    display: block;
    margin: 0;
    padding: 0;
    transition: transform 1s ease, background-color 0.3s ease;
    background-color: transparent;
    opacity: 0.8;
}
.img2 img:hover {
    transform: translateY(-10px);
    opacity: 1;
}
.img {
    position: relative;
    animation: move-up 4s infinite;
}
.img:hover {
    animation-play-state: paused;
}
@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
.key {
    height: 500%;
    padding: 50px;
    display: flex;
}